.main-app {
  background-color: rgba(92, 11, 11, 0.767);
  height: 100vh;
  padding: 30px;
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
}

.main-app ul {
  list-style: none;
  width: fit-content;
}
